body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.profile {
    text-align: left;
}

.profile img {
    border-radius: 0%;
}

.profile h1 {
    background-color: var(--redBGColor);
    overflow: hidden;
    display: inline-block;
    padding: 4px;
    font-weight: bold;
    font-family: arial;
    color: transparent;
    font-size: 42px;
}

span {
    background: url('/img/background.jpg') -20px -400px no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
}

/* Home specific nav link effect */
.nav-links a {
    background: url('/img/background.jpg') fixed;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Body styles */
.centered-text {
    text-align: left;
}

.red-text {
    color: var(--redBGColor)
}

.about-me {
    margin: 3em;
    font-size: 24px;
    color: var(--redBGColor);
}

.about-me h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 20px;
    color: var(--grayBGColor);
    padding: 2px;
}

/* Social icons */
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 34px;
    color: var(--grayBGColor)
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        font-size: 18px;
    }

    .about-me h1 {
        font-size: 28px;
    }

    .social-icons a {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .profile img {
        width: 100px;
    }

    .about-me h1 {
        font-size: 22px;
    }
}