<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://fontawesome.com" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/style.css" />
		<title>blog.caiotavares.site</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

	* {
		box-sizing: border-box;
	}

	:root {
		--redBGColor: #ff2c2c;
		--grayBGColor: rgb(233, 233, 233);
		--biqueBGColor: bisque;
	}

	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
		font-family: "Open Sans", sans-serif;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		color: var(--grayBGColor);
	}

	body {
		padding: 10px;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
		position: relative;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	li,
	img {
		margin: 0;
		padding: 0;
	}

	/* Classe Container unificada e global para todo o site ter o mesmo padding lateral! */
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px; /* Garante o mesmo padding na Home e nos Posts */
		width: 100%;
	}
</style>
