---
import Layout from './LayoutBlog.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <div class="blog-post-page">
        <div class="about-me">
            <a href="/blog" class="back-link">
                <i class="fa-solid fa-arrow-left"></i> Voltar
            </a>
            <article class="blog-post-content">
                <slot />
            </article>
        </div>
    </div>  
</Layout>