---

---

<header>
	<div class="profile">
		<h1>
			<span>
				<a href="https://caiotavares.site">Caio Tavares</a>
			</span>
		</h1>
	</div>
</header>

<style>
	header {
		font-size: 22px;
		color: var(--redBGColor);
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.profile h1 {
		background-color: var(--redBGColor);
		overflow: hidden;
		display: inline-block;
		padding: 5px;
		font-weight: bold;
		color: transparent;
		font-size: 27px;
	}

	.profile h1 a {
		text-decoration: none;
		color: #fff;
	}
</style>
