---
import Header from "./Header.astro";
import PostSection from "./PostSection.astro";
---

<div class="container">
	<Header />
	<PostSection />
</div>

<style>
	:root {
		--fontColor: #141414;
	}
</style>
